[Desktop Entry]
Encoding=UTF-8
Name=FRGS
Comment=FRGS P2P Cryptocurrency
Exec=fargocash-qt %u
Terminal=false
Type=Application
Icon=fargocash128
MimeType=x-scheme-handler/fargocash;
Categories=Office;Finance;
Name[en_US]=fargocash-qt.desktop
